@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

body {
  background-color: #212121;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

