nav li {
 display: block;
 position: relative;
 transition-duration: 0.5s;
 
}

nav li a {
  color: white;
}

nav ul li {
  background-color: #212121;
}

nav li:hover {
  cursor: pointer;
  text-color: red;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  top: 40px;
  left: 32px;
  display: none;
}

/* This compound selector will still work in IE 11 because :focus-within isn't mixed in */
nav ul li:hover > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* IE 11 won't get this, but at least the top-level menus will work */
nav ul li:focus-within > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

nav li:focus-within a {
  outline: none;
}